# Database
POSTGRES_USER=couple
POSTGRES_PASSWORD=couple_dev
POSTGRES_DB=couple_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://couple:couple_dev@localhost:5432/couple_db"

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# Auth
AUTH_SECRET=changeme_generate_with_openssl_rand_base64_32

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
